.LibraryContainer
{
    margin-left: 240px;
    flex: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.LibraryContainer>svg{
    width: 120px;
}
.LibraryContainer>p:nth-child(2){
    font-size: 24px;
    font-weight: 400;
}
.LibraryContainer>p:nth-child(3){
    font-size: 14px;
    margin-top: 0;
}
.LibraryContainer>button{
    display: flex;
    width: 109px;
    height: 34px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #d3d4e0;
    margin-top: 10px;
    
    cursor: pointer;
}
.LibraryContainer>button:hover{
    background-color: aliceblue;
}
.LibraryContainer>button>svg{
    width: 20px;
    height: 20px;
    fill: #1122ff;
}
.LibraryContainer>button>p{
    font-size: 14px;
    font-weight: bolder;
    font-family: "Roboto","Arial",sans-serif;
    color: #1122ff;
}
